<div class="d-flex justify-center pb-8 pt-8">
    <img src="" alt="sigetre" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/">Dashboards</MudNavLink>
    <MudNavLink Href="/empresas">Empresas</MudNavLink>
    <MudNavLink Href="/alunos">Alunos</MudNavLink>
    <MudNavLink Href="/Certificados">Certificados</MudNavLink>
    <MudNavLink Href="/logout">Sair</MudNavLink>
</MudNavMenu>