@page "/register"
@layout HeadlessLayout
@inherits RegisterPage  

<PageTitle>Sigetre - Register</PageTitle>

<MudGrid Justify="Justify.FlexStart">
    <MudItem xs="12" sm="12" md="10" lg="8" xl="8" xxl="8">
        <MudPaper Class="mud-width-full pa-4">
            <div class="d-flex justify-center pb-6 pt-6">
                <MudImage Src="images/icon-192.png" Alt="Sigetre - Treinamentos" Width="250" Height="250"/>
            </div>
            
            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                
                <MudTextField
                    T="string"
                    Label="E-mail"
                    HelperText="Campo obrigatório"
                    Placeholder="exemple@exemple.com"
                    Class="mb-3"
                    Variant="Variant.Outlined"
                    InputType="InputType.Email"
                    For="@(()=> InputModel.Email)"
                    @bind-Value="InputModel.Email" />
                
                <MudTextField
                    T="string"
                    Label="Password"
                    HelperText="Campo obrigatório"
                    Placeholder="Senha"
                    Class="mb-3"
                    Variant="Variant.Outlined"
                    InputType="InputType.Password"
                    For="@(() => InputModel.Password)"
                    @bind-Value="InputModel.Password"/>

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success" Class="mx-5">Register</MudButton>
                        <MudSpacer />
                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Href="/login" Class="mx-5">Already have an account</MudButton>
                    }
                </div>
                
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>